* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "archivoBlack";
  src: url("fonts/ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: "phitagate";
  src: url("fonts/Phitagate-Regular.otf");
}
@font-face {
  font-family: "klemer";
  src: url("fonts/klemer-display-demo.regular.ttf");
}

@keyframes move {
  100% {
    transform: translate3d(30px, 30px, 30px) rotate(360deg);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  top: 0;
  color: white;
  left: 0;
  background: url(media/background.png);
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.581);
}

/* NAVBAR - links */

.navbar {
  width: 93%;
  height: 10%;
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 20px 40px 0px 40px;
  padding: 20px;
  border: 1px solid #680747;
  box-shadow: 1px 1px 10px #3d062b;
  background: #100313;
  border-radius: 40px;
  z-index: 10000;
  gap: 20px;
}
.navbar div {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 20px;
}

.developer-png {
  width: 30px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  width: fit-content;
  cursor: pointer;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.555);
}

.navbar ul li a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  border-radius: 20px;
  position: absolute;
  background: hsl(332, 94%, 50%);
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
  text-align: center;
}

.home:hover:after {
  width: 4.5%;
}
.about:hover:after {
  width: 4.5%;
}
.projects:hover:after {
  width: 5.5%;
}
.contact:hover:after {
  width: 5.5%;
}
.navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.767);
}

.arrow-with-scribble {
  width: 80px;
  opacity: 0.8;
  filter: invert(100%);
  margin: 120px 0px 0px 80px;
  transform: rotate(10deg);
}

/* BRIEF PRESENTATION - AG FRONT END WEB DEV */

.main-presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.brief-presentation {
  width: 45%;
  margin: -30px 0px 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myName {
  font-size: 70px;
  line-height: 63px;
  font-family: "archivoBlack";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -6px;
  background-image: linear-gradient(45deg, #63285b, #ff769d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.brief-presentation h2 {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 33px;
}

.brief-presentation div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.brief-presentation div p:first-child {
  writing-mode: vertical-rl;
}

.arrow-down {
  width: 200px;
  margin-left: 100px;
  filter: invert(100%);
}

.download-png {
  width: 30px;
  filter: invert(100%);
}
.profile-pic {
  display: flex;
  justify-content: center;
}
.profile-pic a {
  text-decoration: none;
}

.profile-pic button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f70776;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 20px;
  position: relative;
  left: 35px;
  transition: all 300ms;
}

.profile-pic button:hover {
  transform: translate(-15px, -15px);
  background-color: #ff2db6;
}

.arianna-img {
  width: 350px;
  height: auto;
}

/* HEADINGLINKS */

.heading-links {
  width: 25px;
  height: auto;
  filter: invert(100%);
  cursor: pointer;
  transition: transform 300ms;
}

.social-links {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-right: 20px;
}

.heading-links:hover {
  transform: translateX(-12px);
}

/* ----------- ABOUT ME  -------------*/

.about-me {
  margin: 80px 100px;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.hands-on-pc {
  margin-top: 20px;
  width: 350px;
  height: auto;
}
.about-me-heading p,
.my-skills-heading p,
.my-projects-heading p,
.get-in-touch {
  font-size: 60px;
  font-family: "klemer";
  color: #dcbbd7;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #680747, 1px 2px 0px #680747, 1px 3px 0px #680747,
    1px 4px 0px #680747, 1px 5px 0px #8c0d8c, 1px 6px 0px #680747,
    1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2);
}

.about-me-paragraph {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-me-paragraph div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-family: "phitagate";
  font-size: 50px;
  width: 600px;
}
.slogan-and-description {
  flex-direction: column;
  gap: 20px;
}
.p-about-me-caption {
  opacity: 0.7;
  width: 75%;
}

.about-me-paragraph button,
.contact-me-form button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  background-color: #f70776;
  color: white;
  text-decoration: none;
  border: none;
  transition: all ease-in-out 0.5s;
  padding-left: 25px;
}

.about-me-paragraph button:after,
.contact-me-form button:after {
  content: "➟";
  position: relative;
  opacity: 0;
  bottom: 1px;
  left: -20px;
  transition: 0.5s;
  font-weight: lighter;
  font-size: 23px;
}

.about-me-paragraph button:hover,
.contact-me-form button:hover {
  padding-right: 24px;
  padding-left: 15px;
  background-color: #ff2db6;
}

.about-me-paragraph button:hover:after,
.contact-me-form button:hover:after {
  opacity: 1;
  left: 5px;
}

.logos-carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  animation: scrolling 70s linear infinite;
}
.group:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  width: 210px;
}
.my-skills-heading {
  display: flex;
  gap: 40px;
  margin-left: 15%;
}

.my-skills-heading img {
  filter: invert(100%);
  width: 15%;
  height: auto;
}

/* ----------MY PROJECTS---------- */

.my-projects {
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pixelPlayground_img {
  width: 500px;
  height: auto;
}

.lego-picture-logo {
  width: 460px;
  height: auto;
}
.projects-presentation img {
  height: fit-content;
  border-radius: 30px;
}

.projects-presentation {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.projects-title {
  font-size: larger;
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#lego-project {
  text-align: end;
}
.projects-logos {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.projects-logos img {
  width: 50px;
  border-radius: 5px;
  height: auto;
}
.what-did-we-use {
  margin-bottom: 12px;
  text-align: center;
}
.overlay {
  position: relative;
}

/* --------------- GET IN TOUCH FORM ------------ */

.contact-me-container {
  text-align: center;
  margin-bottom: 80px;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.contact-me-form input,
.contact-me-form textarea {
  width: 270px;
  height: 40px;
  padding: 15px;
  border-radius: 30px;
  border: none;
}

.contact-me-form textarea {
  height: 100px;
}
.get-in-touch {
  margin-bottom: 40px;
}

.contact-me-form button {
  padding-left: 30px;
  width: 100px;
}

/* -------- FOOTER --------- */

.ag-3d-text {
  width: 100px;
}

.footer-ag {
  margin: 30px;
  padding: 30px;
  height: 190px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #680747;
  box-shadow: 1px 1px 10px #3d062b;
  background: #100313;
}

.footer-upper-part {
  display: flex;
  justify-content: space-between;
}

.footer-lower-part {
  text-align: center;
  opacity: 0.6;
}

.footer-line {
  color: #680747;
  margin-bottom: 8px;
  font-size: small;
}

/* ------------- MEDIA QUERIES ------------- */
@media screen and (max-width: 1050px) {
  .AriannaGiaccari {
    display: none;
  }
  .projects-presentation {
    flex-wrap: wrap;
  }
  #lego-project {
    text-align: justify;
    flex-wrap: wrap-reverse;
  }
  .hands-on-pc {
    display: none;
  }
  .about-me-paragraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: justify;
    margin-bottom: 50px;
  }
  .footer-line {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .arrow-with-scribble {
    width: 75px;
    margin: 120px 0px 0px 70px;
    transform: rotate(0deg);
  }
  .myName {
    font-size: 60px;
  }
  .home {
    display: none;
  }

  .main-presentation {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .brief-presentation {
    width: 70%;
    margin: 0px;
    text-align: center;
  }
  .navbar {
    justify-content: space-around;
    height: 8%;
    width: 90%;
    gap: 10px;
  }
  .navbar ul li a:hover:after {
    width: 10%;
  }

  .arianna-img {
    width: 200px;
  }
  .profile-pic button {
    width: 70px;
    height: 70px;
    font-size: 18px;
  }

  .about-me {
    margin: 50px;
    gap: 30px;
  }

  .about-me {
    flex-wrap: wrap;
  }
  .about-me-paragraph div {
    width: 100%;
  }
  .card {
    width: 170px;
  }
  .card:hover {
    width: 180px;
  }

  .slogan {
    text-align: center;
    font-size: 45px;
  }
  /* ---------MY SKILLS -------------- */
  .about-me-heading p,
  .my-skills-heading p,
  .my-projects-heading p,
  .get-in-touch {
    font-size: 50px;
  }
  .my-skills-heading img {
    width: 15%;
    right: 30px;
  }

  /* -------MY PROJECTS ---------- */

  .my-projects-heading p {
    text-align: center;
  }

  #pxlpg-project {
    text-align: justify;
  }
  .pixelPlayground_img {
    width: 440px;
  }

  .lego-picture-logo {
    width: 400px;
  }

  .project-description {
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  /* ------ GET IN TOUCH FORM -------------- */

  @media screen and (max-width: 570px) {
    .developer-png {
      display: none;
    }
    .navbar {
      font-size: 10px;
      height: 5%;
      width: 80%;
      justify-content: center;
    }
    .navbar ul {
      gap: 70px;
      text-align: center;
      margin-right: 70px;
    }
    .arrow-with-scribble {
      width: 70px;
      margin: 90px 0px 0px 70px;
    }
    .brief-presentation h2 {
      font-size: 25px;
      margin-top: 20px;
    }
    .myName {
      font-size: 50px;
      line-height: 38px;
      letter-spacing: -6px;
    }
    .short-caption-fed {
      font-size: 13px;
    }
    .arianna-img {
      width: 150px;
      margin-top: 20px;
    }
    .profile-pic button {
      width: 50px;
      height: 50px;
      font-size: 12px;
    }
    .download-png {
      width: 20px;
    }
    .about-me-heading p,
    .my-skills-heading p,
    .my-projects-heading p,
    .get-in-touch {
      font-size: 40px;
    }
    .slogan {
      font-size: 30px;
    }
    .about-me-paragraph div {
      font-size: 13px;
    }
    .about-me {
      margin: 30px;
      margin-top: 50px;
    }
    .card {
      width: 150px;
    }
    .my-projects {
      margin: 50px;
      align-items: center;
    }
    .pixelPlayground_img {
      width: 300px;
     height: 100%;
    }
    .lego-picture-logo {
      width: 300px;
     height: 100%;
    }
    .project-description {
      font-size: 13px;
      width: 85%;
    }
    .projects-logos img {
      width: 40px;

    }
    .footer-ag {
      height: 100px;
      padding: 20px;
      font-size: 10px;
    }
    .ag-3d-text {
      width: 50px;
    }

    .heading-links {
      width: 20px;
    }
  }
}

/* 
button {
  margin: 3em 0;
  padding: 1em 1.5em;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid rgba(149, 99, 255, 0.5);
  outline: none;
  border-radius: 0.75em;
  backdrop-filter: blur(20px);
  cursor: pointer;
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
} */
